input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
  margin-left: 10px;
}
